* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #86E5FF;
}

header {
    padding: 24px 16px;
    width: 100%;
    height: 96px;
}

main .ingresarTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

main .ingresarTexto p {
    font-size: 1.6rem;
}

main .ingresarTexto .ingreso {
    height: 48px;
    margin-bottom: 285px;
    border: none;
    font-size: 3.2rem;
    background-color: #86E5FF;
    color: #0081C9;
}

main .ingresarTexto .ingreso::placeholder {
    color: #0081C9;
}

main .ingresarTexto div {
    display: flex;
    flex-direction: column;
}

main .ingresarTexto .boton-container .boton {
    height: 60px;
    margin:  12px 0;
    border-radius: 20px;
    background-color: #5BC0F8;
    border: none;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.5s;
}

main .ingresarTexto .boton-container .boton:hover {
    scale: 1.05;
    transition: 0.5s;
}

main .ingresarTexto #encriptarBtn:hover {
    background-color: #3db2f1;
}

main .ingresarTexto #desencriptarBtn {
    background-color: #86E5FF;
    border: 3px solid rgb(252, 197, 59);
}

main .ingresarTexto #desencriptarBtn:hover {
    background-color: rgba(252, 197, 59, 0.2);
}

main .mensaje {
    background-color: white;
    margin: 40px 24px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 14px 32px -8px;
}

main .mensaje textarea {
    display: none; 
}

main .mensaje img {
    display: none;        
}

main .mensaje h2 {
    padding: 32px;
    font-size: 2.4rem;
}

main .mensaje p {
    padding: 0 32px 32px 32px;
    font-size: 1.8rem;
}

@media (min-width: 520px) {
    main .ingresarTexto .boton-container {
        width: 500px;
        align-self: center;
    }
}

@media (min-width: 765px) {
    main .ingresarTexto {
        padding: 20px 40px;
    }

    main .ingresarTexto .boton-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    main .ingresarTexto .boton-container .boton {
        width: 332px;
        margin: 24px;
    }

    main .mensaje {
        margin: 0 40px 40px 40px;
    }
}

@media (min-width: 1024px) {
    header {
        padding: 40px 60px;
    }

    main {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 80%;
    }

    main .ingresarTexto {
        padding-left: 80px;
        padding-right: 0;
        width: 680px;
        height: 610px;
    }

    main .ingresarTexto .ingreso {
        margin-bottom: 320px;
    }

    main .mensaje {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       width: 280px;
    }

    main .mensaje img {
        margin: 12px;
        display: block;   
        width: 60%;     
    }
}